.resp-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-height: calc(75vh - 38px);
    height: calc(50vw - 38px);
    border: 0;
    background: black;
}

.resp-container {
    position: relative;
    overflow: hidden;
    max-height: calc(75vh - 38px);
    height: calc(50vw - 38px);
}