.input-symbol-r {
    position: relative;
}
.input-symbol-r input {
    padding-left:18px;
}
.input-symbol-r:before {
    position: absolute;
    top: 0;
    left: 5px;
}

.small-input {
    width: 140px;
}

.green {
    color: green;
}

.submit-button {
    position: relative;
    top: 3px;
}

.picker {
    top: 4px;
    position: absolute;
    z-index: 999;
}

.picker .mat-expansion-panel:not([class*=mat-elevation-z]) {
    box-shadow: none;
}

.floating-menu {
    position: absolute;
    z-index: 9999;
    background: white;
    padding: 18px;
    left: 0;
    right: 0;
    box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12);
}