<form>
    <mat-form-field class="small-input">
      <span class="input-symbol-r">r/</span>
      <input type="text" class="small-input" spellcheck="false" matInput [formControl]="input" [matAutocomplete]="auto" [value]="inputValue">
      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
          {{option}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <button
    type="button"
    aria-label="Set subreddit"
    mat-icon-button
    (click)="setChannel()">
    <fa name="check-circle" [ngClass]="{green: !isChanged}"></fa>
  </button>
</form>