body {
    margin: 0;
}

ul {
    list-style-type: none;
    border-left: #dadada 1px solid;
    padding-inline-start: 12px;
    font-size: 12px;
}

ul .level1 {
    font-size: 15px;
}

li {
    list-style-type: none;
}

._1bWuGs_1sq4Pqy099x_yy- {
    height: 18px;
    margin-right: 2px;
    width: auto;
    display: inline-block;
    padding-bottom: 6px;
}

._1O4jTk-dZ-VIxsCuYB6OR8 {
    height: 28px;
    padding: 8px 5px 0px 0;
    width: 28px;
}

.logo {
    font-family: 'Quicksand', sans-serif;
    display: inline-block;
    top: 4px;
    position: absolute;
}