.margin18px {
    margin: 9px 75px 0 75px;
}

.textAlignCenter {
    text-align: center;
}

.actionButton fa {
    vertical-align: top;
}

.actionButton {
    position: fixed;
    bottom: 0;
    border-radius: 4px;
    height: calc(60vh - 50vw);
    min-height: 16vh;
    width: 60px;
    min-width: 40px;
    left: 0;
}

.rightButton {
    left: unset;
    right: 0px;
}